@using Udemy.Strategy.Enums;
@model Udemy.Strategy.Models.Settings;
@{
    ViewData["Title"] = "Index";
}

<div class="card border">
    <div class="card-body">
        <div class="card-title"><h3>Settings</h3></div>
        <form asp-controller="Setting" asp-action="ChangeDatabase">
            <div class="row">
                <div class="col-md-4">
                    <select name="databaseType" class="form-select mb-3" asp-for="DatabaseType" asp-items="Html.GetEnumSelectList<DatabaseType>()"></select>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

